.banner {
  width: 100%;
  height: 380px;
  overflow: hidden;
  position: relative;
  border-radius: 1em;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid white;
  background-color: white;

  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.profile-info {
  text-align: center;
  margin-top: 100px;  
}

.profile-info h1 {
  margin: 10px 0 5px 0;
  font-size: 1.8rem;
}

.profile-info span {
  color: var(--secondary-text-clr);
  font-size: 1rem;
}

.profile-info {
  text-align: center;
}

.profile-wrapper {
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}