<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/settings.css">
    <script type="text/javascript" src="/static/js/sidebar.js" defer></script>
</head>
<body>
<nav id="sidebar">
    <ul>
    <li>
        <span class="logo">Quaver</span>
            <button onclick=toggleSidebar() id="toggle-btn">
            <img src="/static/icons/ic--round-double-arrow.svg" alt="Home" style="width:25px; vertical-align:middle;">
        </button>
    </li>
    <li>
        <a href="/templates/home.html">
            <img src="/static/icons/ic--round-home.svg" alt="Home" style="width:25px; vertical-align:middle;">
            <span>Home</span>
        </a>
    </li>
    <li>
        <a href="/templates/dashboard.html">
            <img src="/static/icons/ic--round-dashboard.svg" alt="Home" style="width:25px; vertical-align:middle;">
            <span>Dashboard</span>
        </a>
    </li>
    <li class="active">
        <a href="/templates/settings.html">
            <img src="/static/icons/ic--round-settings.svg" alt="Home" style="width:25px; vertical-align:middle;">
            <span>Settings</span>
        </a>
    </li>
    <li>
        <a href="/templates/profile.html">
            <img src="/static/icons/ic--round-person.svg" alt="Home" style="width:25px; vertical-align:middle;">
            <span>Profile</span>
        </a>
    </li>
    </ul>
</nav>
<main>
    <div class="container">
        <h2>Basic Information</h2>
        <div class="settings-row">
            <div class="settings-name-col">
                <p>Display name</p>
                <p>Email</p>
                <p>Name</p>
            </div>
            <div class="settings-val-col">
                <p>CurrentDisplayName</p>
                <p>example@test.com</p>
                <p>Example Name</p>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Profile Personalization</h2>
        <div class="settings-row">
            <div class="settings-name-col">
                <p>Profile picture</p>
                <p>Banner picture</p>
            </div>
            <div class="settings-val-col">
                <div class="settings-button">test2
                    <!-- <p>test2</p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Delete account</h2>
        <p>Change username</p>
    </div>
    <h2>Update</h2>
</main>
</body>
</html>