<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script type="text/javascript" src="/static/js/sidebar.js" defer></script>
</head>
<body>
  <nav id="sidebar">
    <ul>
      <li>
        <span class="logo">Quaver</span>
        <button onclick=toggleSidebar() id="toggle-btn">
          <img src="/static/icons/ic--round-double-arrow.svg" alt="Home" style="width:25px; vertical-align:middle;">
        </button>
      </li>
      <li>
        <a href="/templates/home.html">
          <img src="/static/icons/ic--round-home.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Home</span>
        </a>
      </li>
      <!-- <li>
        <a href="/templates/dashboard.html">
          <img src="/static/icons/ic--round-dashboard.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Dashboard</span>
        </a>
      </li> -->
      <li class="active">
        <a href="/templates/settings.html">
          <img src="/static/icons/ic--round-settings.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a href="/templates/profile.html">
          <img src="/static/icons/ic--round-person.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </nav>
  <main>
    <div class="container">
      <h2>Settings</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis porro iure quaerat aliquam! Optio dolorum in eum provident, facilis error repellendus excepturi enim dolor deleniti adipisci consectetur doloremque, unde maiores odit sapiente. Atque ab necessitatibus laboriosam consequatur eius similique, ex dolorum eum eaque sequi id veritatis voluptates perspiciatis, cupiditate pariatur.</p>
    </div>
  </main>
</body>
</html>