<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/settings.css">
  <script type="text/javascript" src="/static/js/sidebar.js" defer></script>
</head>
<body>
  <nav id="sidebar">
    <ul>
      <li>
        <span class="logo">Quaver</span>
        <button onclick=toggleSidebar() id="toggle-btn">
          <img src="/static/icons/ic--round-double-arrow.svg" alt="Home" style="width:25px; vertical-align:middle;">
        </button>
      </li>
      <li>
        <a href="/templates/home.html">
          <img src="/static/icons/ic--round-home.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/templates/settings.html">
          <img src="/static/icons/ic--round-settings.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a href="/templates/profile.html">
          <img src="/static/icons/ic--round-person.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Profile</span>
        </a>
      </li>
      <li class="active">
        <a href="/templates/about.html">
          <img src="/static/icons/ic--round-question-mark.svg" alt="About" style="width:25px; vertical-align:middle;">
          <span>About</span>
        </a>
      </li>
    </ul>
  </nav>
  <main>
    <div class="container">
        <h2>Basic Information</h2>
        <p></p>
        <p>
            This webite is a webforum for posting about music. You dont need to create an account to browse the website, 
            but if you want to post and reply to other people, an account is needed.
        </p>
    </div>

    <div class="container">
        <h2>What Can You Do?</h2>
        <p></p>

        <h3>With an Account:</h3>
        <ul>
            <li>Brouse the forum</li>
            <li>Use the search bar to brouse specific music generes</li>
            <li>Create a post</li>
            <li>Reply to a post</li>
            <li>Personalize Profile</li>
        </ul>

        <p></p>

        <h3>Without an Account</h3>
        <ul>
            <li>Brouse the forum</li>
            <li>Use the search bar to brouse specific music generes</li>
        </ul>
    </div>

</main>
</body>
</html>