<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="/static/css/searchbar.css">
  <script type="text/javascript" src="/static/js/sidebar.js" defer></script>
  <script type="text/javascript" src="/static/js/signup.js" defer></script>
</head>
<body>
  <nav id="sidebar">
    <ul>
      <li>
        <span class="logo">Quaver</span>
        <button onclick=toggleSidebar() id="toggle-btn">
          <img src="/static/icons/ic--round-double-arrow.svg" alt="Home" style="width:25px; vertical-align:middle;">
        </button>
      </li>
      <li>
        <a href="/templates/home.html">
          <img src="/static/icons/ic--round-home.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Home</span>
        </a>
      </li>
      <li class="active">
        <a href="/templates/settings.html">
          <img src="/static/icons/ic--round-settings.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a href="/templates/profile.html">
          <img src="/static/icons/ic--round-person.svg" alt="Home" style="width:25px; vertical-align:middle;">
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </nav>
  <main>

    <div class="heading">
      <h2>Create a New Account</h2>
      <p>Enter your information below to sign up!</p>
    </div>
    
    <div class="search-bar-container">
      <input type="text" placeholder="email" class="search-bar" id="email">
    </div>

    <div class="search-bar-container">
      <input type="text" placeholder="username" class="search-bar" id="username">
    </div>

    <div class="search-bar-container">
      <input type="password" placeholder="password" class="search-bar" id="pword">
    </div>

    <div class="search-bar-container">
      <input type="password" placeholder="confirm password" class="search-bar" id="cpword">
    </div>

    <div>
        <button class="signup-btn" onclick="signUp();"> 
            <h3>Sign Up</h3>

        </button>
        <h5 type="text" id="response"></h5>
    </div>

  </main>
</body>
</html>